.DS_Store
.DS_Store .git .gitignore
*.tmp
~$*.doc*
Backup of *.doc*
~$*.xls*
*.xlk
~$*.ppt*
*.~vsd*
EasyPHP_v2/binaries/apache/logs/error.log
EasyPHP_v2/binaries/apache/logs/access.log
EasyPHP_v2/easyphp.ini
EasyPHP_v2/easyphp.log
